## Python
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# Ignore Google Cloud SDK
google-cloud-sdk/


## DVC
# DVC plots
dvc_plots


# DVC will add new files after this line
/model
