## Python
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# Ignore Google Cloud SDK
google-cloud-sdk/
google-cloud-cli-linux-x86_64.tar.gz


## DVC
# DVC plots
dvc_plots


# DVC will add new files after this line
/model
